<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<div class="col-xs-12 col-sm-4" style="padding-bottom:20px; padding-top: 20px;">
	<%= image_tag 'mePic.jpg', :class => 'img-responsive' %>
	</div>
	
	<br class="clear" />
	
	<p>
	    Splurty was built by <a target="_blank" href="https://github.com/robgraphix1">Rob Perez</a>. A web developer from Virginia Beach, VA who's on a mission to learn as much as he can about his craft. All the while building new and exciting web applications for all to enjoy.
	</p>
    <br />
 	<p>
	    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>
    

</div>